body {
    background-color: black;
    font-family: Inter, sans-serif;
    margin: 0;
    width: auto; height: auto;
    overflow: hidden;
}
    
.button-container {
  display: flex;
  flex-direction: row;
  width: auto;
  background-color: black;
 }

/* ------------------------ buttons -------------------------*/

button {
    background-color: black;color: white; text-align: center;
    border: none; margin: 2px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {background-color: #1b1b1b;}
button:active {transform: scale(0.95);}

.undocloseico,
.privateico,
.windowico,
.tabico,
.saveurlico,
.fullico,
.closetabico {
    width: 30px; height: 30px;
    background-size: cover; border-radius: 18%;
    flex-direction: row;
    justify-content: center; align-items: center;
    transition: background-color 0.3s, transform 0.2s;
}

/* Background images */
.undocloseico { background-image: url("undoclose.png"); }
.privateico { background-image: url("private.png"); }
.windowico { background-image: url("window.png"); }
.tabico { background-image: url("tab.png"); }
.saveurlico { background-image: url("saveurl.png"); }
.fullico { background-image: url("full.png"); }
.closetabico { background-image: url("closetab.png"); }



/* ------------------------ Layouts -------------------------*/

#buttonLayout {
  display: flex;
}

/* Additional styles for list layout */

#listLayout {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  width: auto;
  background-color: black;
  font-size: 14px;
  overflow: hidden;
}

.list-item {
  display: block; cursor: pointer;
  width: 225px;
  background-color: black; color: white; text-align: center;
  border: none; margin: 5px; padding: 2px;
  padding-left: 10px; padding-right:10px;
  transition: background-color 0.3s, transform 0.2s;
}

.list-item:hover {color: #FBF268; transform: scale(1.3)}
.list-item:active {transform: scale(1.1);}

/* ------------------------ Dialog box for selecting folder -------------------------*/

.dialog-container {
  display: none; position: absolute;
  flex-direction: column; /* Arrange children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  top: 0; left: 0;
  width: auto; height: auto;
  background-color: black; color: white;
  z-index: 999; /* Ensure the dialog appears above other elements */
}
.dialog-title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}
.dialog-input::placeholder {
    color: white;
}
.dialog-input {
	width: 100%;
	padding: 8px;
	background-color: #1C1C1C;
	color: white;
	margin-bottom: 10px;
	border: 0px solid #ccc;
	box-sizing: border-box;
}
.dialog-buttons {
	text-align: right;
}
.dialog-button {
	padding: 8px 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

/* ------------------------ scroll button -------------------------*/

    
    
    